<nav class="navWrapper">
  <nav class="navInner">
    <a href="" class="navButton current">OPTIMIZED</a>
    <a href="" class="navButton">STANDARD</a>
    <a href="" class="navButton">EXPERIMENTAL</a>
  </nav>
</nav><div class="grid-container">
<div class="content">
  
    <h2>There are 100 light bulbs lined up in a row in a long room. Each bulb has its own switch and is currently switched off. The room has an entry door and an exit door. There are <span contenteditable="true" class="passes">100</span> people lined up outside the entry door. Each bulb is numbered consecutively from 1 to 100. So is each person. Person No. 1 enters the room, switches on every bulb, and exits. Person No. 2 enters and flips the switch on every second bulb (turning off bulbs 2, 4, 6, ...). Person No. 3 enters and flips the switch on every third bulb (changing the state on bulbs 3, 6, 9, ...). This continues until all 100 people have passed through the room. How many of the light bulbs are illuminated after the 100th person has passed through the room? More specifically, which light bulbs are still illuminated, and why?
      </h2>
 </div>
 <div class="results">
    <div style="display: table; height: 100%; position: relative; overflow: hidden;">
      <div style="#position: absolute; #top: 50%;display: table-cell; vertical-align: middle;">
      <div style=" #position: relative; #top: -50%">
          <h2>There remains X light bulbs lit up!</h2>
      </div>
    </div>
 </div>
</div>